

.wigify-titlebar {
  display: none !important;
}

.container {
  background-color: transparent;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden;
}

.iframe {
  background-color: transparent;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 12px;
  overflow: hidden;
}